In [1]:
import pandas as pd
import numpy as np

#  Data Collection

In [2]:
data=pd.read_csv("Raw data.csv")
data

,Shipment_ID,Distance_km,Weight_kg,Mode_of_Transport,Origin,Destination,Fuel_Price_per_Liter,Demand_Fluctuation,Traffic_Conditions,Warehouse_Processing_Time,Customs_Clearance_Delay,Packaging_Cost,Freight_Insurance_Cost,Freight_Cost_USD
0,SHIP00001,NaN,1341.0,Rail,Kolkata,London,1.89,1.042210,Medium,8,2,326.35,969.69,NaN
1,SHIP00002,3822.0,3538.0,Sea,Kolkata,Los Angeles,0.75,1.075883,High,8,3,293.82,649.12,676.72
2,SHIP00003,3142.0,4777.0,Road,Chennai,London,1.99,1.170771,Low,3,2,52.03,150.30,1288.52
3,SHIP00004,516.0,3704.0,Air,Chennai,Dubai,1.58,1.129244,Low,8,3,421.87,181.12,1267.50
4,SHIP00005,4476.0,578.0,Sea,Mumbai,Dubai,NaN,0.998045,High,5,4,428.14,615.63,463.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,SHIP09996,284.0,633.0,Air,Bangalore,Los Angeles,0.52,0.977983,Medium,2,4,309.59,739.37,91.62
9996,SHIP09997,NaN,2859.0,Rail,Kolkata,Los Angeles,1.39,1.091401,Medium,8,1,192.02,386.04,472.50
9997,SHIP09998,1958.0,705.0,Air,Chennai,New York,NaN,0.971334,Medium,8,1,125.19,323.12,599.22
9998,SHIP09999,1467.0,4931.0,Rail,Kolkata,Singapore,1.56,0.973844,High,1,1,107.21,489.50,716.91
9999,SHIP10000,4969.0,NaN,Road,Chennai,Dubai,1.20,1.058222,High,7,1,209.60,854.02,648.27

In [3]:
data.shape

(10000, 14)

In [4]:
data.head()

,Shipment_ID,Distance_km,Weight_kg,Mode_of_Transport,Origin,Destination,Fuel_Price_per_Liter,Demand_Fluctuation,Traffic_Conditions,Warehouse_Processing_Time,Customs_Clearance_Delay,Packaging_Cost,Freight_Insurance_Cost,Freight_Cost_USD
0,SHIP00001,NaN,1341.0,Rail,Kolkata,London,1.89,1.042210,Medium,8,2,326.35,969.69,NaN
1,SHIP00002,3822.0,3538.0,Sea,Kolkata,Los Angeles,0.75,1.075883,High,8,3,293.82,649.12,676.72
2,SHIP00003,3142.0,4777.0,Road,Chennai,London,1.99,1.170771,Low,3,2,52.03,150.30,1288.52
3,SHIP00004,516.0,3704.0,Air,Chennai,Dubai,1.58,1.129244,Low,8,3,421.87,181.12,1267.50
4,SHIP00005,4476.0,578.0,Sea,Mumbai,Dubai,NaN,0.998045,High,5,4,428.14,615.63,463.68

In [5]:
data.tail()

,Shipment_ID,Distance_km,Weight_kg,Mode_of_Transport,Origin,Destination,Fuel_Price_per_Liter,Demand_Fluctuation,Traffic_Conditions,Warehouse_Processing_Time,Customs_Clearance_Delay,Packaging_Cost,Freight_Insurance_Cost,Freight_Cost_USD
9995,SHIP09996,284.0,633.0,Air,Bangalore,Los Angeles,0.52,0.977983,Medium,2,4,309.59,739.37,91.62
9996,SHIP09997,NaN,2859.0,Rail,Kolkata,Los Angeles,1.39,1.091401,Medium,8,1,192.02,386.04,472.50
9997,SHIP09998,1958.0,705.0,Air,Chennai,New York,NaN,0.971334,Medium,8,1,125.19,323.12,599.22
9998,SHIP09999,1467.0,4931.0,Rail,Kolkata,Singapore,1.56,0.973844,High,1,1,107.21,489.50,716.91
9999,SHIP10000,4969.0,NaN,Road,Chennai,Dubai,1.20,1.058222,High,7,1,209.60,854.02,648.27

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Shipment_ID                10000 non-null  object
 1   Distance_km                9500 non-null   float64
 2   Weight_kg                  9500 non-null   float64
 3   Mode_of_Transport          10000 non-null  object
 4   Origin                     10000 non-null  object
 5   Destination                10000 non-null  object
 6   Fuel_Price_per_Liter       9500 non-null   float64
 7   Demand_Fluctuation         10000 non-null  float64
 8   Traffic_Conditions         10000 non-null  object
 9   Warehouse_Processing_Time  10000 non-null  int64
 10  Customs_Clearance_Delay    10000 non-null  int64
 11  Packaging_Cost             10000 non-null  float64
 12  Freight_Insurance_Cost     10000 non-null  float64
 13  Freight_Cost_USD           9500 non-null   float64
dtypes: float64(7), int64(2), object(5)
memory usage: 1.1+ MB

In [20]:
data.isna().sum()

Shipment_ID                    0
Distance_km                  500
Weight_kg                    500
Mode_of_Transport              0
Origin                         0
Destination                    0
Fuel_Price_per_Liter         500
Demand_Fluctuation             0
Traffic_Conditions             0
Warehouse_Processing_Time      0
Customs_Clearance_Delay        0
Packaging_Cost                 0
Freight_Insurance_Cost         0
Freight_Cost_USD             500
dtype: int64

In [8]:
data.columns

Index(['Shipment_ID', 'Distance_km', 'Weight_kg', 'Mode_of_Transport',
       'Origin', 'Destination', 'Fuel_Price_per_Liter', 'Demand_Fluctuation',
       'Traffic_Conditions', 'Warehouse_Processing_Time',
       'Customs_Clearance_Delay', 'Packaging_Cost', 'Freight_Insurance_Cost',
       'Freight_Cost_USD'],
      dtype='object')

In [9]:
data.describe()

,Distance_km,Weight_kg,Fuel_Price_per_Liter,Demand_Fluctuation,Warehouse_Processing_Time,Customs_Clearance_Delay,Packaging_Cost,Freight_Insurance_Cost,Freight_Cost_USD
count,9500.000000,9500.000000,9500.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,9500.000000
mean,2555.968211,2495.039895,1.256268,1.001966,4.978900,1.986600,255.671338,524.575038,818.740237
std,1428.546573,1426.040820,0.433669,0.115134,2.594056,1.421978,141.012448,273.959922,707.782778
min,51.000000,50.000000,0.500000,0.800052,1.000000,0.000000,10.160000,50.220000,9.720000
25%,1307.750000,1267.000000,0.880000,0.902636,3.000000,1.000000,132.777500,287.195000,367.452500
50%,2588.500000,2470.000000,1.260000,1.002316,5.000000,2.000000,257.350000,525.070000,633.185000
75%,3792.000000,3706.250000,1.640000,1.102649,7.000000,3.000000,375.425000,759.562500,1039.437500
max,4998.000000,4999.000000,2.000000,1.199945,9.000000,4.000000,499.960000,999.920000,16798.727885

#  Data Cleaning

# Checking for Duplicates in a dataset

In [10]:
data.duplicated().sum()

0

In [11]:
data['Mode_of_Transport'].value_counts()

Road    2560
Rail    2503
Air     2481
Sea     2456
Name: Mode_of_Transport, dtype: int64

In [29]:
median_counts = data['Freight_Cost_USD'].median()
median_counts

664.565

In [ ]:
data['Freight_Cost_USD'].fillna(median_counts, inplace=True)

In [37]:
median_counts_km = data['Distance_km'].median()
median_counts_km

2588.5

In [38]:
data['Distance_km'].fillna(median_counts_km, inplace=True)

In [35]:
data['Distance_km'].value_counts()

2588.5    500
2758.0      8
4830.0      8
1148.0      8
68.0        8
         ...
4991.0      1
2985.0      1
3518.0      1
3942.0      1
4969.0      1
Name: Distance_km, Length: 4182, dtype: int64

In [54]:
median_counts_fuel = data['Fuel_Price_per_Liter'].median()
median_counts_fuel

1.26

In [55]:
data['Fuel_Price_per_Liter'].fillna(median_counts_fuel,inplace=True)

In [56]:
data['Fuel_Price_per_Liter'].value_counts()

1.26    561
1.48     83
1.27     82
1.78     82
1.34     82
       ...
1.82     48
1.50     46
1.49     44
2.00     31
0.50     21
Name: Fuel_Price_per_Liter, Length: 151, dtype: int64

In [58]:
data["Weight_kg"].fillna(data["Weight_kg"].mean(), inplace=True)

In [59]:
data.isna().sum()

Shipment_ID                  0
Distance_km                  0
Weight_kg                    0
Mode_of_Transport            0
Origin                       0
Destination                  0
Fuel_Price_per_Liter         0
Demand_Fluctuation           0
Traffic_Conditions           0
Warehouse_Processing_Time    0
Customs_Clearance_Delay      0
Packaging_Cost               0
Freight_Insurance_Cost       0
Freight_Cost_USD             0
dtype: int64

In [ ]:
data.isna().sum()

In [ ]:
df=data

In [69]:
df=data.copy()

#  Categorizing Numerical and categorical columns

In [70]:
qual=[]
quan=[]
for columnname in df.columns:
    #print(columnname)
    if (df[columnname].dtype=='O'):
        #print("Qual")
        qual.append(columnname)
    else:
        #print("Quant")
        quan.append(columnname)

In [71]:
qual

['Shipment_ID',
 'Mode_of_Transport',
 'Origin',
 'Destination',
 'Traffic_Conditions']

In [72]:
quan

['Distance_km',
 'Weight_kg',
 'Fuel_Price_per_Liter',
 'Demand_Fluctuation',
 'Warehouse_Processing_Time',
 'Customs_Clearance_Delay',
 'Packaging_Cost',
 'Freight_Insurance_Cost',
 'Freight_Cost_USD']

# Descriptive Statistics

In [73]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%","IQR","1.5Rule",
                                "Lesser","Greater","Min","Max","kurtosis","skewness","Variance","Standard deviation"],columns=quan)
for columnname in quan:
    descriptive[columnname]["Mean"]=df[columnname].mean()
    descriptive[columnname]["Median"]=df[columnname].median()
    descriptive[columnname]["Mode"]=df[columnname].mode()[0]
    descriptive[columnname]["Q1:25%"]=df.describe()[columnname]["25%"]
    descriptive[columnname]["Q2:50%"]=df.describe()[columnname]["50%"]
    descriptive[columnname]["Q3:75%"]=df.describe()[columnname]["75%"]
    descriptive[columnname]["99%"]=np.percentile(df[columnname],99)
    descriptive[columnname]["Q4:100%"]=df.describe()[columnname]["max"]
    descriptive[columnname]["IQR"]=descriptive[columnname]["Q3:75%"]-descriptive[columnname]["Q1:25%"]
    descriptive[columnname]["1.5Rule"]=1.5*descriptive[columnname]["IQR"]
    descriptive[columnname]["Lesser"]=descriptive[columnname]["Q1:25%"]-descriptive[columnname]["1.5Rule"]
    descriptive[columnname]["Greater"]=descriptive[columnname]["Q3:75%"]+descriptive[columnname]["1.5Rule"]
    descriptive[columnname]["Min"]=df[columnname].min()
    descriptive[columnname]["Max"]=df[columnname].max()
    descriptive[columnname]["kurtosis"]=df[columnname].kurtosis()
    descriptive[columnname]["skewness"]=df[columnname].skew()
    descriptive[columnname]["Variance"]=df[columnname].var()
    descriptive[columnname]["Standard deviation"]=df[columnname].std()

In [74]:
descriptive

,Distance_km,Weight_kg,Fuel_Price_per_Liter,Demand_Fluctuation,Warehouse_Processing_Time,Customs_Clearance_Delay,Packaging_Cost,Freight_Insurance_Cost,Freight_Cost_USD
Mean,2557.5948,2495.039895,1.256455,1.001966,4.9789,1.9866,255.671338,524.575038,818.740237
Median,2588.5,2495.039895,1.26,1.002316,5.0,2.0,257.35,525.07,664.565
Mode,2588.5,2495.039895,1.26,0.800052,1,0,73.53,85.05,818.740237
Q1:25%,1366.0,1324.0,0.9,0.902636,3.0,1.0,132.7775,287.195,380.93
Q2:50%,2588.5,2495.039895,1.26,1.002316,5.0,2.0,257.35,525.07,664.565
Q3:75%,3727.5,3644.25,1.61,1.102649,7.0,3.0,375.425,759.5625,1009.0675
99%,4961.0,4955.01,1.98,1.195042,9.0,4.0,495.29,990.5142,3313.5317
Q4:100%,4998.0,4999.0,2.0,1.199945,9.0,4.0,499.96,999.92,16798.727885
IQR,2361.5,2320.25,0.71,0.200013,4.0,2.0,242.6475,472.3675,628.1375
1.5Rule,3542.25,3480.375,1.065,0.300019,6.0,3.0,363.97125,708.55125,942.20625
Lesser,-2176.25,-2156.375,-0.165,0.602617,-3.0,-2.0,-231.19375,-421.35625,-561.27625
Greater,7269.75,7124.625,2.675,1.402668,13.0,6.0,739.39625,1468.11375,1951.27375
Min,51.0,50.0,0.5,0.800052,1,0,10.16,50.22,9.72
Max,4998.0,4999.0,2.0,1.199945,9,4,499.96,999.92,16798.727885
kurtosis,-1.110873,-1.087657,-1.103063,-1.197287,-1.239082,-1.313119,-1.186346,-1.188018,52.934064
skewness,-0.026011,0.041274,-0.007337,-0.02783,-0.002417,0.017979,-0.011123,-0.002191,4.07512
Variance,1938748.115925,1931902.630651,0.178665,0.013256,6.729128,2.022023,19884.510531,75054.038921,475906.132593
Standard deviation,1392.389355,1389.929002,0.422688,0.115134,2.594056,1.421978,141.012448,273.959922,689.859502

# Handling Outliers

In [75]:
lesser=[]
greater=[]
for colname in quan:
    if(descriptive[colname]["Min"]<descriptive[colname]["Lesser"]):
        lesser.append(colname)
    if(descriptive[colname]["Max"]>descriptive[colname]["Greater"]):
        greater.append(colname)

In [76]:
greater

['Freight_Cost_USD']

In [77]:
lesser

[]

In [78]:
def insertoutlier(data,greater):
    for columnName in greater:
        data[columnName][data[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]
    return data

In [79]:
insertoutlier(df,greater)

C:\Users\MOHANLAL\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Shipment_ID,Distance_km,Weight_kg,Mode_of_Transport,Origin,Destination,Fuel_Price_per_Liter,Demand_Fluctuation,Traffic_Conditions,Warehouse_Processing_Time,Customs_Clearance_Delay,Packaging_Cost,Freight_Insurance_Cost,Freight_Cost_USD
0,SHIP00001,2588.5,1341.000000,Rail,Kolkata,London,1.89,1.042210,Medium,8,2,326.35,969.69,818.740237
1,SHIP00002,3822.0,3538.000000,Sea,Kolkata,Los Angeles,0.75,1.075883,High,8,3,293.82,649.12,676.720000
2,SHIP00003,3142.0,4777.000000,Road,Chennai,London,1.99,1.170771,Low,3,2,52.03,150.30,1288.520000
3,SHIP00004,516.0,3704.000000,Air,Chennai,Dubai,1.58,1.129244,Low,8,3,421.87,181.12,1267.500000
4,SHIP00005,4476.0,578.000000,Sea,Mumbai,Dubai,1.26,0.998045,High,5,4,428.14,615.63,463.680000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,SHIP09996,284.0,633.000000,Air,Bangalore,Los Angeles,0.52,0.977983,Medium,2,4,309.59,739.37,91.620000
9996,SHIP09997,2588.5,2859.000000,Rail,Kolkata,Los Angeles,1.39,1.091401,Medium,8,1,192.02,386.04,472.500000
9997,SHIP09998,1958.0,705.000000,Air,Chennai,New York,1.26,0.971334,Medium,8,1,125.19,323.12,599.220000
9998,SHIP09999,1467.0,4931.000000,Rail,Kolkata,Singapore,1.56,0.973844,High,1,1,107.21,489.50,716.910000
9999,SHIP10000,4969.0,2495.039895,Road,Chennai,Dubai,1.20,1.058222,High,7,1,209.60,854.02,648.270000

In [80]:
# Assuming 'quan' is defined somewhere in your code
descriptive = pd.DataFrame(index=['mean','median','mode','Q1:25%','Q2:50%','Q3:75%','Q4:100%','IQR','1.5rule','lesser','greater','min','max'], columns=quan)

# Assuming 'dataset' is your DataFrame
for ColumnName in quan:
    descriptive.loc['mean', ColumnName] = df[ColumnName].mean()
    descriptive.loc['median', ColumnName] = df[ColumnName].median()
    descriptive.loc['mode', ColumnName] = df[ColumnName].mode()[0]
    descriptive.loc['Q1:25%', ColumnName] = df[ColumnName].quantile(0.25)
    descriptive.loc['Q2:50%', ColumnName] = df[ColumnName].quantile(0.50)
    descriptive.loc['Q3:75%', ColumnName] = df[ColumnName].quantile(0.75)
    descriptive.loc['99%', ColumnName] = np.percentile(df[ColumnName], 99)
    descriptive.loc['Q4:100%', ColumnName] = df[ColumnName].max()
    descriptive.loc['IQR', ColumnName] = descriptive.loc['Q3:75%', ColumnName] - descriptive.loc['Q1:25%', ColumnName]
    descriptive.loc['1.5rule', ColumnName] = 1.5 * descriptive.loc['IQR', ColumnName]
    descriptive.loc['lesser', ColumnName] = descriptive.loc['Q1:25%', ColumnName] - descriptive.loc['1.5rule', ColumnName]
    descriptive.loc['greater', ColumnName] = descriptive.loc['Q3:75%', ColumnName] + descriptive.loc['1.5rule', ColumnName]
    descriptive.loc['min', ColumnName] = df[ColumnName].min()
    descriptive.loc['max', ColumnName] = df[ColumnName].max()

In [81]:
descriptive

,Distance_km,Weight_kg,Fuel_Price_per_Liter,Demand_Fluctuation,Warehouse_Processing_Time,Customs_Clearance_Delay,Packaging_Cost,Freight_Insurance_Cost,Freight_Cost_USD
mean,2557.5948,2495.039895,1.256455,1.001966,4.9789,1.9866,255.671338,524.575038,769.160967
median,2588.5,2495.039895,1.26,1.002316,5.0,2.0,257.35,525.07,664.565
mode,2588.5,2495.039895,1.26,0.800052,1,0,73.53,85.05,1951.27375
Q1:25%,1366.0,1324.0,0.9,0.902636,3.0,1.0,132.7775,287.195,380.93
Q2:50%,2588.5,2495.039895,1.26,1.002316,5.0,2.0,257.35,525.07,664.565
Q3:75%,3727.5,3644.25,1.61,1.102649,7.0,3.0,375.425,759.5625,1009.0675
Q4:100%,4998.0,4999.0,2.0,1.199945,9,4,499.96,999.92,1951.27375
IQR,2361.5,2320.25,0.71,0.200013,4.0,2.0,242.6475,472.3675,628.1375
1.5rule,3542.25,3480.375,1.065,0.300019,6.0,3.0,363.97125,708.55125,942.20625
lesser,-2176.25,-2156.375,-0.165,0.602617,-3.0,-2.0,-231.19375,-421.35625,-561.27625
greater,7269.75,7124.625,2.675,1.402668,13.0,6.0,739.39625,1468.11375,1951.27375
min,51.0,50.0,0.5,0.800052,1,0,10.16,50.22,9.72
max,4998.0,4999.0,2.0,1.199945,9,4,499.96,999.92,1951.27375
99%,4961.0,4955.01,1.98,1.195042,9.0,4.0,495.29,990.5142,1951.27375

In [82]:
def find_outliers(quan):
    lesser = []
    greater = []
    
    for columnName in quan:
        if descriptive[columnName]["min"] < descriptive[columnName]["lesser"]:
            lesser.append(columnName)
        if descriptive[columnName]["max"] > descriptive[columnName]["greater"]:
            greater.append(columnName)
    
    return lesser, greater

In [83]:
find_outliers(quan)

([], [])

In [84]:
df.to_csv('clean_data.csv',index=False)

In [ ]:
lesser, greater=find_outliers(quan)

In [ ]:
lesser

In [ ]:
greater

#  There are no outliers present in the dataset